{% extends "base.html" %}

{% block content %}

    <form id="midi_upload" action="/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="input_file">Choose a midi file:</label>

        <input type="file" id="midi" name="midi" accept='.mid,.midi'>
        <input type="submit">
    </form>
    <hr>
    <div id="tab">
        <h1>{{ name }}</h1>
    {% for alternative in alternatives %}
        {% for split in alternative %}
        <div class="jtab tabonly">{% for note in split %} ${{ note.1 }} {{ note.2 }} {% endfor %} ||</div>
        <br>
        {% endfor %}
    {% endfor %}
    </div>

{% endblock content %}
